.counter{
    border: 5px solid aqua;
    border-radius: 20px;
    padding: 20px;
    width: 490px;
    height: 325px;
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.screen{
    font-size: 80px;
    text-align: center;
    background-color: aqua;
    padding: 30px 0;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.btn__box{
    display: flex;
    column-gap: 30px;
    border: 5px solid aqua;
    border-radius: 20px;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
}



button:disabled{
    transition: all .5s ease;
    background-color: transparent;
    color: #000000;
}

.red{
    font-size: 80px;
    text-align: center;
    background-color: aqua;
    padding: 30px 0;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: red;
}